    
    
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    background-color: rgb(245, 255, 255);
  }

:root {
    --color1: rgb(33, 35, 56);
    --color2: rgb(197, 213, 233);
    --color3: rgb(245, 255, 255);
}

/* HEADER START */
  header{
    min-height: 13vh;
    display:flex;
    justify-content: space-between;
    background-color: var(--color1);
    color: var(--color1)
  }


  header h1{
    text-align: right;
    height: fit-content;
    display: flex;
    padding: 5px;
    padding-left: 30px;
    background-color: var(--color2);
  }

    nav ul{
        background-color: var(--color1);
    }

    header .navstack{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color1);
        width: 50%;
    }

    header nav{
        display: flex;
        justify-content: end;
        border: 3px solid var(--color1);
        background-color: var(--color1);
        margin: 2px;
    }

        nav li{
            float: right;
            display: flex;
            justify-content: center;
            background-color: var(--color1);
            border-bottom: 3px solid var(--color2);
            color: var(--color2);
            margin: 5px;
            font-size: large;
        }

        nav a{
            font-size: large;
            color: var(--color2);
            background-color: var(--color1);
            text-decoration: none;
        }

    header section{
text-align: center;
    }

    header h2{
        color: var(--color1);
        background-color: var(--color2);
        padding: 5px;
    }
/* HEADER END */
    
/* MAIN START */
main{
    border: 3px solid var(--color3);
    margin: 2px;
}
    
    main article{
        border: 3px solid var(--color3);
        margin: 2px;
        display: flex;
        min-height: 23vh;
    }
    
        article h1{
            min-width: 6%;
            text-align: right;
            border-right: 3px solid var(--color1);
            margin: 5px;
            padding: .1%;
            color: var(--color1);
        }

        
        article p{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            border: 3px solid var(--color3);
            margin: 2px;
            width: 94%;
            color: var(--color1);
        }

    main .main{
        min-height: 50vh;
        display: flex;
        border: 3px solid var(--color3);
        margin: 2px;
    }

        .main h1{
            border-right: 3px solid var(--color1);
            padding: .1%;
            margin: 5px;
            min-width: 6%;
            text-align: right;
            color: var(--color1);
        }

        .cards{
            display: flex;
            width: 96%;
            flex-wrap: wrap;
            border: 3px solid var(--color3);
            margin: 2px;
        }

            #surf{ 
                width: 98.3%;
                height: 49%;
                display: flex;
                align-items: end;
                border: 5px solid var(--color2);
                margin: 2px;
                background-color: var(--color1);
                opacity: 0.95;
            } 

            .card{ 
                width: 49%;
                height: 24%;
                display: flex;
                align-items: end;
                border: 5px solid var(--color2);
                margin: 2px;
                background-color: var(--color1);
                opacity: 0.95;
            }

                .cardtext{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: end;
                    border: 3px solid var(--color2);
                    margin-bottom: 10px;
                    height: fit-content;
                    background-color: var(--color2);
                }
                .cardtext h3, .cardtext p{
                    background-color: var(--color2);
                    color: var(--color1)
                }
/* MAIN END */

/* FOOTER START */
  footer{
    min-height: 13vh;
    border: 3px solid var(--color3);
    margin: 2px;
    display: flex;
    justify-content: space-between;
  }

  footer h1{
    display: flex;
    border-right: 3px solid var(--color1);
    margin: 5px;
    padding: .1%;
    min-width: 6%;
    font-size: 22px;
  }

  footer .footnav{
    display: flex;
    justify-content: center;
    border: 3px solid var(--color3);
    margin: 2px;
  }

  footer ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  footer li{
    text-align: center;
    flex-wrap: wrap;
    border-bottom: 3px solid var(--color1);
    display: flex;
    margin: 5px;
    font-size: large;
    margin-right: 250px;
  }

  footer a{
    font-size: large;
    color: var(--color1);
    background-color: var(--color3);
    text-decoration: none;
}

/*HOVER EFFECTS*/

.card:hover, #surf:hover{
    opacity: 1;
}

nav a:hover{
    color: aliceblue;
}

footer a:hover{
    color: rgb(29, 38, 134);
}

@media screen and (max-width: 768px){
    .card{
        width: 98.6%;
    }
}